
<form method="get" action="/manufacturers/new">
  <input type="submit" value="New Manufacturer">
</form>

<table class="table-man">
  <tr>
    <th>Manufacturer  </th>
    <th>Country  </th>
    <th>Contact  </th>
    <th>Rating  </th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr>
  <td><%= manufacturer.name.capitalize() %></td>
  <td><%= manufacturer.country.capitalize() %></td>
  <td><%= manufacturer.contact.capitalize() %></td>
  <td><%= manufacturer.rating %></td>
  <td><a href="/manufacturers/<%= manufacturer.id %>">Show Manufacturer</a></td>
  </tr>
  <% end %>

</table>
