
<form method="get" action="/manufacturers/new">
  <input type="submit" value="New Manufacturer">
</form>

  <% @manufacturers.each do |manufacturer| %>
  <div class="row">
  <div class="column">
  <div class="card">

  <p>Name:    <%= manufacturer.name.capitalize() %></p>
  <p>Country: <%= manufacturer.country.capitalize() %></p>
  <p>Contact: <%= manufacturer.contact.capitalize() %></p>
  <p>Phone:   <%= manufacturer.phone() %></p>
  <p><a href="/manufacturers/<%= manufacturer.id %>">Show Manufacturer</a></p>
  </div>
  </div>
  </div>
  <% end %>
