<form method="get" action="/products/new">
  <input type="submit" value="New Product">
</form>

<form method="get" action="/products/filter">
  <label for="description_select">Filter by Category:</label>
  <select name="description" id="description_select">
    <% @pdesc = []%>
    <% @all_products.each do |product| %>
    <% @pdesc << product.description %>
    <% end %>
    <% @pdesc.uniq! %>
    <% @pdesc.each do |description| %>
    <option value=<%= description %>><%= description.capitalize %></option>
    <% end %>
  </select>
  <input type="submit" value="Find">
</form>


<table class="table-prod">
  <tr>
    <th>Product Name</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Buy Cost</th>
    <th>Sales Price</th>
    <th>Markup</th>
  </tr>

<% @products.each do |product| %>
<tr>
  <td><%= product.name.capitalize() %></td>
  <td><%= product.description.capitalize() %></td>
  <td class="stock-level <%= product.stock_highlight %>"><%= product.quantity() %></td>
  <td>£<%= sprintf "%.2f", product.buy_cost %></td>
  <td>£<%= sprintf "%.2f", product.sell_price %></td>
  <td>£<%= sprintf "%.2f", product.get_margin() %></td>
  <td><a href="/products/<%= product.id %>">Show Product</a></td>
  </tr>
  <% end %>

</table>
