<p><a href="/products/new">New Product</a></p>

<table class="table-prod">
  <tr>
    <th>Product Name</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Buy Cost</th>
    <th>Sales Price</th>
    <th>Markup</th>
  </tr>

<% @products.each do |product| %>
<tr>
  <td><%= product.name.capitalize() %></td>
  <td><%= product.description.capitalize() %></td>
  <td class="stock-level <%= product.stock_highlight %>"><%= product.quantity() %></td>
  <td>£<%= sprintf "%.2f", product.buy_cost %></td>
  <td>£<%= sprintf "%.2f", product.sell_price %></td>
  <td>£<%= product.get_margin() %> </td>
  <td><a href="/products/<%= product.id %>">Show Product</a></td>
  </tr>
  <% end %>

</table>
